.about{
     display: flex;
     justify-content: center;
     align-items: center;
    min-height: 100vh;
    color: var(--text-color);
  
  .about-text{
   margin: 6em 3em;
   line-height: 1.5;
   font-size: 1.5em;
  text-align: justify;
  text-shadow:1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; 
  h2{
    font-weight: bolder;
    font-style: italic;
  }
  }
 img{
  display: block;
  max-width:300px;
  width: 100%;
  border-radius: 50%;
  margin-left: 6em;
  margin-top: 6em;
 
}

}
@media (max-width:576px){
  .about-text{
    margin-left: 1em;
    margin-top: .5em;
    margin-bottom: 1em;
  }
  .about img{
    display: none;
  }
  
}