.about{
     display: flex;
     justify-content: center;
     align-items: center;
    min-height: 100vh;
    color: var(--text-color);
  
  .about-text{
   margin: 6em 3em;
   line-height: 1.5;
   font-size: 1.5em;
  text-align: justify;
  }
 img{
  display: block;
  width:300px;
  height: 300px;
  border-radius: 50%;
  
 
}
}