
:root{
    --text-color:#c6ccdc;
    --main-yellow:#facf0f;
    --main-color:#111;
  }
  @import'./nav';
  @import'./footer';
  @import'./aside';
  @import'./home';
  @import './about';
  @import'./project';
  @import'./contact';
  
  *{
      box-sizing: border-box;
  }
  
  body{
    background: linear-gradient(80deg,var(--main-color
    ) 77%, var(--main-yellow) 23%);
      margin:0 0;
      padding:0 0;
      position: relative;
      font-family: 'Merriweather Sans', sans-serif;
      overflow-x: hidden;
  }



  @media only screen and (max-width: 576px){
    
   body{
    background:var(--main-color);
   }
   
}
  