:root {
  --text-color:#c6ccdc;
  --main-yellow:#facf0f;
  --main-color:#111;
}

nav {
  /* position: fixed;
  top:0; */
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 0px 10px 0px var(--main-gray);
  z-index:100; */
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding-right: 2em;
  color: var(--text-color);
  transition: all 0.5s ease-in-out;
  font-size: 2em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
nav a:hover {
  transform: scale(1.5);
  color: var(--text-color);
  text-decoration: var(--main-yellow) 5px solid underline;
}
nav .logo {
  font-family: "Grandstander", cursive;
  font-size: 2em;
  padding-left: 1em;
  animation-name: logo;
  animation-iteration-count: 1;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    color: var(--main-yellow);
  }
}
.fa-bars {
  position: relative;
  width: 50px;
  height: 50px;
  font-size: 3em;
  margin-right: 1em;
}

@media (max-width: 992px) {
  .navbar-links a, .night-mode {
    display: none;
  }
  .dropdown li a {
    display: block;
    font-size: 1em;
  }
}
@media (min-width: 992px) {
  .fa-bars {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  .fa-bars {
    color: var(--main-yellow);
  }
}
.dropdown {
  display: none;
  position: absolute;
  right: -0.6em;
  top: 1em;
  background-color: var(--main-color);
  border-radius: 30px;
  width: 100vw;
  box-shadow: 0px 30px 10px -15px var(--main-color);
}
.dropdown li {
  list-style-type: none;
  line-height: 3;
  text-decoration: none;
  font-size: 0.3em;
}
.dropdown a {
  text-decoration: none;
  color: var(--text-color);
}

.fa-bars:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fa-moon {
  color: var(--main-color);
}

footer {
  position: fixed;
  width: 100%;
  background-color: var(--main-color);
  height: 50px;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 1.5em;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
}
footer a {
  text-decoration: none;
  color: var(--main-yellow);
  padding-left: 3em;
}
footer a:hover {
  transform: scale(1.5);
  color: var(--text-color);
  text-decoration: var(--main-yellow) 5px solid underline;
}

aside {
  position: absolute;
  top: 5%;
  left: 0.5em;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 1em;
  box-shadow: 20px 20px 100px 8px var(--text-color);
}
aside i {
  padding: 0.5em;
  font-size: 2em;
  color: var(--main-color);
  text-align: center;
}
aside i:hover {
  color: var(--main-yellow);
}

@media only screen and (max-width: 576px) {
  aside {
    display: none;
  }
}
.main-page {
  min-height: 100vh;
}

.intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-left: 2em;
  margin-top: 8em;
  margin-bottom: 2em;
}

.main-text {
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: justify;
  width: 100%;
  line-height: 1.5;
  animation-name: jump;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 200ms;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.main-text a {
  color: var(--main-yellow);
  text-decoration: none;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  animation-name: jump;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 500ms;
}
.skills h2 {
  margin-top: 2em;
  flex-basis: 100%;
  text-align: left;
  color: var(--text-color);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-weight: bold;
}
.skills div {
  padding: 1rem 2rem;
  /* margin-bottom: 1.5rem;
  margin-right: 1.5rem; */
  font-size: 1.6rem;
  background: var(--text-color);
  border-radius: 5px;
  font-weight: 600;
  color: var(--main-gray);
  /* transition: all 2s; */
  /* animation-name: rotate;
  animation-iteration-count: 3;
  animation-duration: 10s;
  animation-fill-mode:forwards; */
}

/* .skills div:hover{
    margin-right:5em ;

} */
/* for animating H1 */
h1 {
  color: hsl(0deg, 0%, 27%);
  font-size: 50px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 7px;
  text-transform: uppercase;
  background: linear-gradient(to right, hsl(0deg, 0%, 30%) 0, hsl(0deg, 0%, 100%) 10%, hsl(0deg, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}
.project {
  border: 3px solid var(--text-color);
  background: var(--main-color);
  margin-top: 10em;
  margin-bottom: 2em;
  padding: 2em;
  border-radius: 15px;
  letter-spacing: 3px;
  animation-name: jump;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  text-transform: capitalize;
  text-align: center;
  transition: color 300ms ease-in-out;
  z-index: 1;
}
.project a {
  text-decoration: none;
  color: var(--text-color);
}
.project h2 {
  color: var(--text-color);
  font-weight: 900;
  text-transform: uppercase;
}
.project h2::before {
  content: " \f061";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--main-yellow);
  padding-right: 0.5em;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.project:nth-child(1) {
  animation-delay: 1s;
}

/* }
.project:nth-child(3){
  animation-delay: 3s;

}
.project:nth-child(4){
  animation-delay: 4s;

}
.project:nth-child(5){
  animation-delay: 5s;

}  */
@keyframes jump {
  0% {
    transform: scale(0.6) translate(-300%, -300%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(0) translateY(0%);
    opacity: 1;
  }
}
.project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: var(--main-yellow);
  border-radius: 15px;
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.project:hover::before,
.project:focus::before {
  transform: scaleX(1);
}

.project:hover h2, .project:focus h2 {
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
}
.about .about-text {
  margin: 6em 3em;
  line-height: 1.5;
  font-size: 1.5em;
  text-align: justify;
}
.about img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.my-projects {
  min-height: 100vh;
  background-color: var(--text-color);
  border-radius: 30px;
}
.my-projects img {
  display: block;
  width: 300px;
}
.my-projects a {
  text-decoration: none;
  color: var(--main-color);
  background-color: var(--main-yellow);
  padding: 0.5em 1em;
  border-radius: 5px;
  font-size: 1.5em;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease-in-out;
}
.my-projects a:hover {
  transform: scaleX(1.5);
  border: 2px solid var(--main-color);
}
.my-projects .my-projects-title {
  text-align: center;
  line-height: 3;
  padding: 6em 0;
}
.my-projects .my-projects-title h2 {
  letter-spacing: 3px;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: var(--main-yellow) 1px 0 10px;
}
.my-projects .my-projects-title p {
  font-size: 1.5em;
}
.my-projects .my-projects-text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.main-contact {
  min-height: 100vh;
  margin: 5em 3em;
  color: var(--text-color);
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background: linear-gradient(70deg, var(--main-yellow) 33%, var(--main-color) 67%);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border-radius: 10px;
  margin: 2em 2em;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}
form label {
  align-self: flex-start;
  margin-left: 3em;
}
form input, form textarea {
  background-color: rgb(39, 37, 37);
  width: 80%;
  outline-color: var(--main-yellow);
}
form button[type=submit] {
  background-color: var(--main-yellow);
  width: 80%;
  border-radius: 5px;
  font-size: 1.5em;
}

.connect {
  margin: 8em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-transform: uppercase;
  font-size: 1.5em;
}
.connect h2 {
  font-weight: bold;
  letter-spacing: 2px;
}

.my-mail::before {
  content: " \f0e0";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 0.5em;
}

.my-phone {
  letter-spacing: 2px;
}
.my-phone::before {
  content: " \f095";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 0.5em;
}

.follow-me a {
  color: var(--text-color);
  font-size: 1.5em;
  padding-left: 1em;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(80deg, var(--main-color) 77%, var(--main-yellow) 23%);
  margin: 0 0;
  padding: 0 0;
  position: relative;
  font-family: "Merriweather Sans", sans-serif;
  overflow-x: hidden;
}

@media only screen and (max-width: 576px) {
  body {
    background: var(--main-color);
  }
}

/*# sourceMappingURL=main.css.map */
